{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "printWidth": 120,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "consistent",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "singleAttributePerLine": true
}
