@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@300;400;500;600;700&family=DM+Mono:ital,wght@0,400;0,500;1,400&display=swap');
@import 'tailwindcss';

@theme {
    --color-cream: #f8f7f3;
    --color-charcoal: #111110;
    --color-heka: #41699d;
    --color-heka-light: #eaf0f8;
    --color-heka-mid: #b8cddf;
    --color-heka-yellow: #f2c664;
    --color-podi: #c8281a;
    --color-podi-light: #fef0ef;
    --color-bira: #1b4f72;
    --color-bira-light: #e8f0f7;
    --color-muted: #7a7269;
    --color-border: #e2ddd5;
    --color-card: #000000;

    --font-display: 'Montserrat', sans-serif;
    --font-sans: 'Montserrat', sans-serif;
    --font-mono: 'DM Mono', monospace;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans);
    background-color: #f8f7f3;
    color: #111110;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #c8c3bb;
    border-radius: 3px;
}

::selection {
    background: #b8cddf;
    color: #111110;
}
